@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --body-background: #fff;
    --nav-background: #fff;
    --hover-buttons: #ddd;
    --selected-button: #eee;
    --font-color: #000;
    --menu-shadow: 0 8px 11px -6px rgba(0, 0, 0, 0.12);
    --drawer-shadow: 4px 8px 8px 0 rgba(0, 0, 0, 0.12);
    --sepparator: solid 1px #ddd;
    --active-opacity: .6;
    --body-font: normal 400 14px "Roboto", sans-serif;
    --category-font: normal 600 16px "Roboto", sans-serif;
    --input-background: #fff;
    --textarea-background: #fff;
    --text-color: #000;
}

:root[data-theme="dark"] {
    --body-background: #515151;
    --nav-background: #3C3C3C;
    --hover-buttons: gray;
    --selected-button: #999;
    --font-color: #fff;
    --menu-shadow: 0 8px 11px -6px rgba(0, 0, 0, 0.3);
    --drawer-shadow: 4px 8px 8px 0 rgba(0, 0, 0, 0.2);
    --sepparator: solid 1px #000;
    --active-opacity: .6;
    --body-font: normal 400 14px "Roboto", sans-serif;
    --category-font: normal 600 16px "Roboto", sans-serif;
    --input-background: #777777;
    --textarea-background: #777777;
    --text-color: #fff;
}

html {
    width: 100%;
    height: 100%;
    color: var(--text-color);
}

body {
    font: var(--body-font);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--body-background);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
    
    *:defined:not(style):not(link):not(script):not(:where(div, span, p, hr)) {
        display: flex;
        box-sizing: border-box;
    }

    div {
        box-sizing: border-box;
    }

    app-layout {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        
        .top-navigation {
            display: flex;
            align-items: center;
            column-gap: 5px;
            background: var(--body-background);
            box-shadow: var(--menu-shadow);
            
            .top-menu {
                display: flex;
                flex: 1;
                align-items: center;
                
                .top-app-menu {
                    display: flex;
                    flex: 1;
                }

                .top-ctx-menu {
                    display: flex;
                    padding-right: 20px;
                }
            }
        }

        .app-body {
            position: relative;
            display: flex;
            flex: 1;
        }
    }

    textarea, input {
        background-color: var(--textarea-background) ;
        color: var(--text-color) ;
        border: 1px solid black ;
    }
}

div.vis-manipulation {
    background-color: var(--textarea-background);
}

.disabled {
  opacity: 0.5;
  pointer-events: none;  /* Prevent any interactions with disabled items */
}

theme-button {
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 30px;
    left: 5px;
    right: 10px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: var(--hover-buttons);
      }
  
      &:active {
        opacity: var(--active-opacity);
      }
  
      &.selected {
        background: var(--hover-buttons);
      }
}